name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --check-files

      - name: Build
        run: yarn build

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  test:
    runs-on: ubuntu-latest
    env:
      SAM_CLI_TELEMETRY: 0
      # Don't worry these are fake AWS credentials for AWS SAM
      AWS_ACCESS_KEY_ID: ABIAZLJNBT8I3KFOU4NO
      AWS_SECRET_ACCESS_KEY: 4Xt3Rbx4DO21MhK1IHXZXRvVRDuqaQ0Wo5lILA/h

    steps:
      - name: Setup AWS SAM
        run: |
          brew tap aws/tap
          brew install aws-sam-cli
          sam --version

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --check-files

      - name: Run tests
        run: yarn test --runInBand

  publishRelease:
    name: Potentially publish release
    runs-on: ubuntu-latest
    needs: [build, test]
    if: github.ref == 'refs/heads/main'
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 25

      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - run: ./scripts/publish-release.sh
